{{#note}}
<form name="myForm" ng-controller="EditorCtrl" method="post" action="/notes/{{guid}}">
    <div class="control-group">
        <input type="text" name="title" value="{{title}}" class="form-control" placeholder="Note Title">
    </div>
    <textarea class="editor" name="content">{{content}}</textarea>
    <a href="/notes" class="btn btn-default">Cancel</a>
    <input class="btn btn-primary" value="Save" type="submit">
    <a href="/notes/{{guid}}/delete" class="btn btn-danger">Delete</a>
</form>
{{/note}}